{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Current Listings</h2>

    <ul>
        {% for listing in listings %}
        <p>
            <ul>{{ listing.title }}</ul>
            <ul>{{ listing.description }}</ul>
            <ul>{{ listing.startBid }}</ul>
            <img src="{{listing.image}}">
            <p><a href="{% url 'item' listing.title %}"> Item page: {{ listing.title }}</a></p>
        </p>
        {% empty %}
            <li>No Listings.</li>
        {% endfor %}
    </ul>
{% endblock %}