{% extends "auctions/layout.html" %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            {% if forloop.last %}
                <em>{{ message }}</em>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h2>Current Listings</h2>

    <ul>
        {% for listing in listings %}
           
            <p>
                <ul> Listing by: {{ listing.auctioneer }}</ul>
                <ul>Title: {{ listing.title }}</ul>
                <ul>Description: {{ listing.description }}</ul>
                <p><a href="{% url 'item' listing.title %}"> Item page: {{ listing.title }}</a></p>
                <img src="{{listing.image}}">
            </p>
  
        {% empty %}
            <li>No Listings.</li>
        {% endfor %}
    </ul>
{% endblock %}