{% extends "auctions/layout.html" %}

{% block body %}

{% if messages %}
        {% for message in messages %}
            {% if forloop.last %}
                <em>{{ message }}</em>
            {% endif %}
        {% endfor %}
{% endif %}

    <p>
        <p>Title: {{ data.title }}</p>
        <p>Description: {{ data.description }}</p>
        <p>Current bid: {{ bid.amount }}</p>
        {% if bid.bidder%}
            <p>Bidder: {{ bid.bidder }}</p>
        {% else %}
            <p>Bidder: No bidder</p>
        {% endif %}

{% if user.is_authenticated %}
        <form action="{% url 'item' data.title %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
        </form>
        <img src="{{data.image}}">
    </p>

    {% if auctioneer == data.auctioneer %}
        <p><a href="{% url 'close' data.title %}">Close Auction</a></p>
    {% endif %}

    {% if data.watchlist %}
        <a href="{% url 'add_watchlist' data.title %}">Remove from Watchlist</a>
    {% else %}
        <a href="{% url 'add_watchlist' data.title %}">Add to Watchlist</a>
    {% endif %}
{% endif %}

{% endblock %}