{% extends "auctions/layout.html" %}

{% block body %}

{% if messages %}
        {% for message in messages %}
            {% if forloop.last %}
                <em>{{ message }}</em>
            {% endif %}
        {% endfor %}
{% endif %}

    <p>
        <p>Title: {{ data.title }}</p>
        <p>Description: {{ data.description }}</p>
        <p>Current bid: {{ bid.amount }}</p>
        
        {% if bid.bidder%}
            <p>Bidder: {{ bid.bidder }}</p>
        {% else %}
            <p>Bidder: No bidder</p>
        {% endif %}

        {% if data.category %}
        <p><a class="nav-link" href="{% url 'category' data.category %}">Category: {{data.category}}</a></p>
        {% else %}
            <p>Category: None stated</p>
        {% endif %}

        <img src="{{data.image}}">

{% if user.is_authenticated %}

    {% if data.open == True %}
        <form action="{% url 'item' data.title %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
        </form>
  

        {% if auctioneer == data.auctioneer %}
            <p><a href="{% url 'close' data.title %}">Close Auction</a></p>
        {% endif %}
    
    {% else %}
        {% if auctioneer == bid.bidder %}
            <p>You won the auction at {{bid.amount}}</p>
        {% else %}
            <p>Auction won by: {{bid.bidder}} at {{bid.amount}}</p>
        {% endif %}
    {% endif %}

    {% if data.watchlist %}
        <a href="{% url 'add_watchlist' data.title %}">Remove from Watchlist</a>
    {% else %}
        <a href="{% url 'add_watchlist' data.title %}">Add to Watchlist</a>
    {% endif %}
        

    <form action="{% url 'comment' data.title %}" method="post">
        {% csrf_token %}
        {{ commentForm }}
        <input class="form-control" name="comment" placeholder="Comment">
        <button type="submit">Comment</button>
    </form>

{% endif %}

{% for c in data.comments.all %}
  <p>
      <div>{{ c.user.username }} commented: </div>
      <div>{{ c.comment }}</div>
  </p>
{% empty %}
  <p>No comments</p>
{% endfor %}


{% endblock %}