{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <h3>New Post</h3>
    <form id="postForm" onsubmit="setTimeout(function(){window.location.reload();},10);">
        <textarea class="form" required id="postBody" placeholder="Body"></textarea>
        <input type="submit" class="btn btn-primary"/>
    </form>

    <div id="posts">
    </div>
    {% endif %}



{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}

{% endblock %}