{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        {% if currentUser.username != Profileuser.username %}
            {% if Profileuser.username not in followingList%}
                <a id="follow" href="{% url 'followView' Profileuser.username currentUser.username %}">Follow</a>
            {% else %}
                <a id="follow" href="{% url 'followView' Profileuser.username currentUser.username %}">Unfollow</a>
            {% endif %}
        {% endif %}
    {% endif %}

    <h3>User: {{Profileuser.username}}</h3>


    <div id="posts">
        {% for post in posts %}
        <div>
            <a id="userProfile" href="{% url 'profileView' post.user %}">{{post.user}}</a>
            <div>{{post.body}}</div>
            <div>{{post.timestamp}}</div>
        </div>
        {% endfor %}
    </div>

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}

{% endblock %}